body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Specify the font family (Arial) and a generic font family (sans-serif) as a fallback */
  font-size: 16px; /* Set the font size to 16 pixels */
  color: #333; /* Set the text color to a shade of gray (#333) */
}
.header{
  
  display: flex;
  margin-top: 1%;
  height: 5%;
  
}
.heading{
  margin-left: 20%;
  
}
.heading  h3{
  margin:3% 0%;
  color:rgb(104, 97, 97);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
.heading  h2{
  margin: 5% 3%;
}

.menu_items{
  display: flex;
  list-style: none;
  }

.menu{
  margin-left: 30%;
}

.menu li{
  padding:10% 10%;
}
.menu li:hover{
  background-color: #333;
  color: aliceblue;
}
.bg{
  width:100%;
  height: 100%;
  margin-top: 20px;
  
}
.opening_page{
  height: 500px;
  width: 100%;
}
.text-overlay {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 90px;
}
.text-overlay1 {
  
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 90px;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .header{
  display: block;
  width:100%;
  }
  .opening_page{
    width: 100%;
  }
  .header h2{
    margin-bottom: 0%;
  }
  .heading{
    left:50%;
  }
  .menu_items{
    margin-left: 0%;
    display: flex;
    list-style: none;
  }
  .menu{
    width:80%;
    margin-left: 5%;
  }
    
  .menu li{
      padding:2% 2%;
      margin: 0% 3%;
  }
  .bg{
    width:100%;
    margin-top:1px;
  }
  .text-overlay {
    position: absolute;
    top: 33%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 400%;
  }
  .text-overlay1 {
    
    position: absolute;
    top: 38%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 400%;
  }

}

